body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  
  #Blacktxtimg {
    width: 300px;
    height: 100px;
    padding-bottom: 5%;
  }
  
  /* Storlek och style på toggeln */ 
  .darkmode-t {
    width: 60px;
    height: 30px;
    position: relative;
    background: white;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(99, 99, 99, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Ringen för toggeln */ 
  .darkmode-t:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg,#ffffff,#cdcac4);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* Gömmer checkboxen */ 
  #darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  /* färgen på själva formen ringen är i. */
  #darkmode-toggle:checked + .darkmode-t{
    background: #242424;
  }
  
  /* Gör så att toggle ringen ändrar färg och flyttar sig till höger. */
  #darkmode-toggle:checked + .darkmode-t:after {
    left: 55px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  
  .background {
    width: 100vh;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: -1;
    position: absolute;
    transition: 0.3s;
  }